/* body{
  overflow: hidden;
  background-color: rgb(227, 214, 189);
  background-image: url('https://imgmediagumlet.lbb.in/media/2025/08/68919feea32aab2b60df103e_1754374126595.jpg');

background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat;
} */

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1px); /* 🔼 control bounce height here */
  }
}


@keyframes bounce-gentle {
  0%, 100% {
    transform: translateY(-9%);
  }
  50% {
    transform: translateY(0%);
  }
}

.animate-bounce-gentle {
  animation: bounce-gentle 2s ease-in-out infinite;
}
