/* body{
  overflow: hidden;
  background-color: rgb(227, 214, 189);
  background-image: url('https://imgmediagumlet.lbb.in/media/2025/08/68919feea32aab2b60df103e_1754374126595.jpg');

background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat;
} */


